<table class="table" summary="Semester form fields">
    <tr>
        <th class="align-middle">Semester Name</th>
        <td><%= f.text_field(:semester_name, id: 'name', :class => "form-control w-auto m-auto") %></td>
    </tr>
    <tr>
        <th class="align-middle">Start Date</th>
        <td><%= f.date_select(:start_date,{order: [:month, :day, :year]}, { :class => "custom-select w-auto"})%></td>
    </tr>
    <tr>
        <th class="align-middle">End Date</th>
        <td><%= f.date_select(:end_date,{order: [:month, :day, :year]}, { :class => "custom-select w-auto"})%></td>
    </tr>
    <tr>
        <th class="align-middle">Membership Dues Deadline</th>
        <td><%= f.date_select(:dues_deadline,{order: [:month, :day, :year]}, { :class => "custom-select w-auto"})%></td>
    </tr>
</table>