<%= link_to("<< Back to List", semesters_path, :class => 'back-link') %>

<div class="semester delete">
  <h2>Delete Semester</h2>

  <%= form_for(@semester, :method => 'delete') do |f| %>

    <p> Are you sure you want to permanently delete this Semester? </p>
	<p> <%= @semester.semester_name %> </p>

    <div class="form-buttons">
      <%= f.submit("Delete Semester") %>
    </div>

  <% end %>
</div>