<table summary="Member form fields">
      <tr>
        <th>Member</th>
        <td><%= f.text_field(:member_name) %></td>
      </tr>
      <tr>
        <th>Email</th>
        <td><%= f.text_field(:email)%></td>
      </tr>
</table>
