/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */
/* line 32, app/assets/stylesheets/application.scss */
.cell-link:hover {
  cursor: pointer;
}

/* line 37, app/assets/stylesheets/application.scss */
.large-link {
  font-size: 30px;
  font-weight: 200;
}

/* line 42, app/assets/stylesheets/application.scss */
.bootstrap-dark a {
  color: #5bc0de;
}

/* line 46, app/assets/stylesheets/application.scss */
.bootstrap-dark a:hover {
  color: #5bc0de;
}

/* line 50, app/assets/stylesheets/application.scss */
a[type='button'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* line 73, app/assets/stylesheets/application.scss */
.custom-switch.custom-switch-sm .custom-control-label {
  padding-left: 1rem;
  padding-bottom: 1rem;
}

/* line 78, app/assets/stylesheets/application.scss */
.custom-switch.custom-switch-sm .custom-control-label::before {
  height: 1rem;
  width: calc(1rem + 0.75rem);
  border-radius: 2rem;
}

/* line 84, app/assets/stylesheets/application.scss */
.custom-switch.custom-switch-sm .custom-control-label::after {
  width: calc(1rem - 4px);
  height: calc(1rem - 4px);
  border-radius: calc(1rem - (1rem / 2));
  background: #0275d8;
}

/* line 91, app/assets/stylesheets/application.scss */
.custom-switch.custom-switch-sm .custom-control-input:checked ~ .custom-control-label::after {
  transform: translateX(calc(1rem - 0.25rem));
}

/* line 73, app/assets/stylesheets/application.scss */
.custom-switch.custom-switch-md .custom-control-label {
  padding-left: 2rem;
  padding-bottom: 1.5rem;
}

/* line 78, app/assets/stylesheets/application.scss */
.custom-switch.custom-switch-md .custom-control-label::before {
  height: 1.5rem;
  width: calc(2rem + 0.75rem);
  border-radius: 3rem;
}

/* line 84, app/assets/stylesheets/application.scss */
.custom-switch.custom-switch-md .custom-control-label::after {
  width: calc(1.5rem - 4px);
  height: calc(1.5rem - 4px);
  border-radius: calc(2rem - (1.5rem / 2));
  background: #0275d8;
}

/* line 91, app/assets/stylesheets/application.scss */
.custom-switch.custom-switch-md .custom-control-input:checked ~ .custom-control-label::after {
  transform: translateX(calc(1.5rem - 0.25rem));
}

/* line 73, app/assets/stylesheets/application.scss */
.custom-switch.custom-switch-lg .custom-control-label {
  padding-left: 3rem;
  padding-bottom: 2rem;
}

/* line 78, app/assets/stylesheets/application.scss */
.custom-switch.custom-switch-lg .custom-control-label::before {
  height: 2rem;
  width: calc(3rem + 0.75rem);
  border-radius: 4rem;
}

/* line 84, app/assets/stylesheets/application.scss */
.custom-switch.custom-switch-lg .custom-control-label::after {
  width: calc(2rem - 4px);
  height: calc(2rem - 4px);
  border-radius: calc(3rem - (2rem / 2));
  background: #0275d8;
}

/* line 91, app/assets/stylesheets/application.scss */
.custom-switch.custom-switch-lg .custom-control-input:checked ~ .custom-control-label::after {
  transform: translateX(calc(2rem - 0.25rem));
}

/* line 73, app/assets/stylesheets/application.scss */
.custom-switch.custom-switch-xl .custom-control-label {
  padding-left: 4rem;
  padding-bottom: 2.5rem;
}

/* line 78, app/assets/stylesheets/application.scss */
.custom-switch.custom-switch-xl .custom-control-label::before {
  height: 2.5rem;
  width: calc(4rem + 0.75rem);
  border-radius: 5rem;
}

/* line 84, app/assets/stylesheets/application.scss */
.custom-switch.custom-switch-xl .custom-control-label::after {
  width: calc(2.5rem - 4px);
  height: calc(2.5rem - 4px);
  border-radius: calc(4rem - (2.5rem / 2));
  background: #0275d8;
}

/* line 91, app/assets/stylesheets/application.scss */
.custom-switch.custom-switch-xl .custom-control-input:checked ~ .custom-control-label::after {
  transform: translateX(calc(2.5rem - 0.25rem));
}
