<%= link_to("<< Back to List", payments_path, :class => "back-link") %>

<div class="payments delete">
    <h2>Delete payment</h2>

    <%= form_for(@payment, :method => "delete") do |f| %>
    
    <p>Are you sure you want to permanently delete this payment?</p>
    <p>Payment Amount: <%= @payment.paymentAmount%></p>
    <div class="form-buttons">
        <%= f.submit("Delete payment") %>
    </div>

    <% end %>
</div>