<%= link_to("<< Back to List", payments_path, :class => "back-link") %>

<div class="payments edit">
    <h2>Update payment</h2>

    <%= form_for(@payment) do |f| %>
    
    <%= render(:partial => "form", :locals => {:f => f}) %>

    <div class="form-buttons">
        <%= f.submit("Update payment") %>
    </div>

    <% end %>
</div>