<%= link_to("<< Back to List", payments_path, :class => "back-link") %>

<div class="payments new">
    <h2>Create payment</h2>

    <%= form_for(@payment, :url => payments_path, :method => "post") do |f| %>
    
    <%= render(:partial => "form", :locals => {:f => f}) %>

    <div class="form-buttons">
        <%= f.submit("Create payment") %>
    </div>

    <% end %>
</div>