<div class="jumbotron text-center">
    <h1 class="display-3">Help</h1>
    <h4 class="font-weight-light">Please refer to this page when you need clarification on what each of the pages from the navigation bar offer.</h4>
</div>

<div class="container text-center">
    <hr />

    <div class="mx-auto pb-1" style="max-width:576px ">

        <h1 class="font-weight-light">Home</h1>
        <div class="mx-auto" style="max-width:900px ">
            <p class="lead text-muted">This is the main AFISOTracker home page that will start you off with some quick useful links that serve as shortcuts to highly frequented pages</p>
        </div>
    </div>
    <hr />
    <div class="mx-auto pb-1" style="max-width:576px ">

        <h1 class="font-weight-light">Members</h1>
        <div class="mx-auto" style="max-width:900px ">
            <p class="lead text-muted">The members page has multiple features to help ease organization such as options to filter active members by semesters based on whether or not they
                paid their dues for that semester, generate mailing lists of members to easily CC over email, and to search specific members in the table by name.
            </p>
        </div>
    </div>
    <hr />
    <div class="mx-auto pb-1" style="max-width:576px ">

        <h1 class="font-weight-light">Dues</h1>
        <div class="mx-auto" style="max-width:900px ">
            <p class="lead text-muted">The dues page allows officers to filter dues payments by semester, so that it is easier to view. As with the other pages, dues can be added, deleted,
                edited, and viewed when necessary.
            </p>
        </div>
    </div>
    <hr />
    <div class="mx-auto pb-1" style="max-width:576px ">

        <h1 class="font-weight-light">Transactions</h1>
        <div class="mx-auto" style="max-width:900px ">
            <p class="lead text-muted">The transactions page has two view options of either filtering transactions by their type (revenue or expense) or by the semester. Revenues that
                are added to the page will also be highlighted green on the table and expenses will be highlighted red to help officers differentiate between them.
            </p>
        </div>
    </div>
    <hr />
    <div class="mx-auto pb-1" style="max-width:576px ">

        <h1 class="font-weight-light">Semesters</h1>
        <div class="mx-auto" style="max-width:900px ">
            <p class="lead text-muted">The semesters page has no special viewing features so officers can just add, delete, edit, and view semesters when needed. Relevant information like when
                dues deadlines are as well as the start and end of a semester might be handy to those that need to be reminded of those specific dates.
            </p>
        </div>
    </div>
    <hr />
    <div class="mx-auto pb-1" style="max-width:576px ">
        <h1 class="font-weight-light">Settings</h1>
        <div class="mx-auto" style="max-width:900px ">
            <p class="lead text-muted">The settings page allows admin officers to give specified officers access privileges to the site with their google emails. In addition, users have
                the option to turn on dark mode through a switch if the site is more readable for them that way.
            </p>
        </div>
    </div>
    <hr />

</div>