<div class="jumbotron text-center">
    <h1 class="display-3">Help</h1>
    <div class="mx-auto" style="max-width:576px">
    <h4 class="font-weight-light text-info">Please refer to this page when you need clarification on what each of the pages offer.</h4>
    </div>
</div>

<div class="container text-center">
    <hr />

    <div class="mx-auto pb-1" style="max-width:576px ">
        <h1 class="font-weight-light">Home</h1>
        <div class="mx-auto" style="max-width:900px ">
            <p class="lead text-muted">This is the main AFISOTracker home page that will start you off with some quick useful links that serve as shortcuts to highly frequented pages</p>
        </div>
    </div>
    <hr />
    <div class="mx-auto pb-1" style="max-width:576px ">
        <h1 class="font-weight-light">Members</h1>
        <div class="mx-auto" style="max-width:900px ">
            <p class="lead text-muted">The members page has multiple features to help ease organization such as options to filter active members by semesters based on whether or not they
                paid their dues for that semester, generate mailing lists of members to easily CC over email, and to search specific members in the table by name.
            </p>
            <p class="lead text-muted"><b class="font-weight-bold">Filtering Members Based on Activity/Inactivity:</b> Above the member table on the Member page, there is a prompt that says "Show ____ Members" with a dropdown menu
            with options "All", "Active", and "Inactive". Selecting "All" (selected by default) will show all members in the organization that have been added. By selecting "Active" or "Inactive", a new dropdown
            menu will appear that allows you to select any of your created semesters. After your selections, this will allow you to see a consolidated list of members that are retrieved based on the due payments
            that have been recorded (on the Dues page). With this, you can also click the "Copy Mailing List" button to copy all of the listed member's emails, which can then be pasted into an email draft for efficient
            sending of mass emails. The "Inactive" option is best used with the current semester selected, as you can send reminders to these inactive members to make due payments before the deadline.
            </p>
        </div>
    </div>
    <hr />
    <div class="mx-auto pb-1" style="max-width:576px ">
        <h1 class="font-weight-light">Dues</h1>
        <div class="mx-auto" style="max-width:900px ">
            <p class="lead text-muted">The dues page allows officers to filter dues payments by semester, so that it is easier to view. As with the other pages, dues can be added, deleted,
                edited, and viewed when necessary.
            </p>
            <p class="lead text-muted"><b class="font-weight-bold">Due Payment Receipt:</b> When a due payment is added, the receipt for the payment will be displayed that contains the member's email, a subject line, and an email body.
            You can click the copy buttons on each line and paste them to the subsequent location in a new email draft. This feature is best used with your organization/officer email open in a nearby tab so that
            the information can be copied-and-pasted quickly.
            </p>
        </div>
    </div>
    <hr />
    <div class="mx-auto pb-1" style="max-width:576px ">
        <h1 class="font-weight-light">Transactions</h1>
        <div class="mx-auto" style="max-width:900px ">
            <p class="lead text-muted">The transactions page has two view options of either filtering transactions by their type (revenue or expense) or by the semester. Revenues that
                are added to the page will also be highlighted green on the table and expenses will be highlighted red to help officers differentiate between them. Note that dues payments are not automatically added
                to this page, and are ideally added as a single record after the due payment deadline for each semester.
            </p>
        </div>
    </div>
    <hr />
    <div class="mx-auto pb-1" style="max-width:576px ">

        <h1 class="font-weight-light">Semesters</h1>
        <div class="mx-auto" style="max-width:900px ">
            <p class="lead text-muted">The semesters page simply allows you to add, delete, edit, and view the details of semesters when needed. Relevant information like
                dues deadlines date and the start/end of a semester might be handy to those that need to be reminded of those specific dates. We recommend never deleting a semester if possible, as it may delete records on other pages
                that you had intended to keep (if they were related to the deleted semester). If a semester does need to be deleted, be sure that you have no other records related to it that you intend to keep.
            </p>
        </div>
    </div>
    <hr />
    <div class="mx-auto pb-1" style="max-width:576px ">
        <h1 class="font-weight-light">Settings</h1>
        <div class="mx-auto" style="max-width:900px ">
            <p class="lead text-muted">The settings page allows admin officers to give specified officers access privileges to the site with their google emails. In addition, users have
                the option to turn on dark mode through a switch if the site is more readable for them that way.
            </p>
            <p class="lead text-muted"><b class="font-weight-bold">Delete Inactive Members function:</b> This feature allows you to mass-delete members that were previously active but no longer are. Ideally, this will only be used for
            sequential semesters (i.e. the first semester you select is Fall 2020 and the second is Spring 2021). Issues may arrise if a member skipped a semester, for example if they were active in Fall 2020,
            were not active in Spring 2021, and rejoined in Fall 2021. When deleting members active in Fall 2020 and inactive in Spring 2021, this member would be deleted, even though the member is active currently.
            Excercise caution when using this feature, because any unintended deletions cannot be undone.
            </p>
        </div>
    </div>
    <hr />
    <div class="mx-auto pb-1" style="max-width:576px ">
        <h1 class="font-weight-light">General Information</h1>
        <div class="mx-auto" style="max-width:900px ">
            <p class="lead text-muted">This application allows you to store a list of members, record due payments, record transactions (revenues and expenses of the organization), and create semesters. This application
            is meant to be used to easily manage current members and keep track of your organization's funds. On each of the pages, you are able to add records (general term for a row in the tables), edit records, view
            each record's details, and delete records. The add feature is at the top of each page, with a button in the form of "Add ___". You can view the details of a certain record by clicking its number in the leftmost
            column of the table. You can edit and delete a record by clicking the dotted line icon on the rightmost column of the table. Each of the pages have some unique features from the others, so spend time familiarizing
            yourself with the features and referring to this help page as necessary.
            </p>
        </div>
    </div>
    <hr />
    <div class="mx-auto pb-1" style="max-width:576px ">
        <h1 class="font-weight-light">A Few Tips</h1>
        <div class="mx-auto" style="max-width:900px ">
            <ul class="lead text-muted container text-left">
              <li>Try to keep the records in this application as up-to-date and accurate as possible. This will allow you to maximize the effectiveness of the application and will help make your job as an officer a little bit easier.</li>
              <li>The best way to add a due payment for a member is by searching for the member on the Member page, clicking the dotted line icon in the rightmost column of their record, and clicking "Make dues payment"</li>
              <li>It is best to keep all previous semesters in the table if possible, so that you can keep the transaction information and maintain a running total of the organization's funds. However, if you decide to delete a
              semester, it is recommended to add the net revenue/expense from that semester as a transaction (with the date being something that doesn't fall in a defined semester). This will allow you to still have an accurate
              fund total, and won't mess up the transaction information of any of your other semesters.</li>
              <li>If using the application on a mobile device, we recommend using it in landscape mode for the best experience.</li>
              <li>Refer to this help page any time you're unsure about how to use a feature - the most complicated features likely have a detailed explanation on how to use them properly.</li>
              <li>When transitioning to a new officer board, it would be best to provide a short demonstration of how to use the application. By ensuring the future officer(s) understand its functionality, the probability of the app being
              used effectively in the long term is maximized.</li>
            </ul>
        </div>
    </div>
    <hr />
</div>