<h1>AFISO Finance Tracker - Home</h1>
<p><b>Information Pages</b></p>
<%= link_to("Members", members_path, :class => 'entity-link') %>
</br>
<%= link_to("Semesters", semesters_path, :class => 'entity-link') %>

</br>

<p><b>Other Pages</b></p>
<%= link_to("Help", home_help_path, :class => 'entity-link') %>
</br>
<%= link_to("Security", home_security_path, :class => 'entity-link') %>