/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 $font-family-sans-serif:
  // Safari for OS X and iOS (San Francisco)
  -apple-system,
  // Chrome < 56 for OS X (San Francisco)
  BlinkMacSystemFont,
  // Windows
  "Segoe UI",
  // Android
  "Roboto",
  // Basic web fallback
  "Helvetica Neue", Arial, sans-serif,
  // Emoji fonts
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

// @import "bootstrap/scss/bootstrap";

.cell-link:hover
{
  cursor: pointer;
}

.large-link {
  font-size: 30px;
  font-weight: 200;
}

.bootstrap-dark a {
  color: #5bc0de;
}

.bootstrap-dark a:hover {
  color: #5bc0de;
}

a[type='button'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

}


@mixin switch($res: 'sm') {
  $index: 1rem;
  $mainVal: 1rem;

  @if $res == 'md' {
      $index: 2rem;
      $mainVal: 1.5rem;
  } @else if $res == 'lg' {
      $index: 3rem;
      $mainVal: 2rem;
  } @else if $res == 'xl' {
      $index: 4rem;
      $mainVal: 2.5rem;
  }

  .custom-control-label {
      padding-left: #{$index};
      padding-bottom: #{$mainVal};
  }

  .custom-control-label::before {
      height: $mainVal;
      width: calc(#{$index} + 0.75rem);
      border-radius: $mainVal * 2;
  }

  .custom-control-label::after {
      width: calc(#{$mainVal} - 4px);
      height: calc(#{$mainVal} - 4px);
      border-radius: calc(#{$index} - (#{$mainVal} / 2));
  }

  .custom-control-input:checked ~ .custom-control-label::after {
      transform: translateX(calc(#{$mainVal} - 0.25rem));
  }

}

// YOU CAN PUT ALL RESOLUTION HERE
// sm - DEFAULT, md, lg, xl
.custom-switch.custom-switch-sm {
  @include switch();
}

.custom-switch.custom-switch-md {
  @include switch('md');
}

.custom-switch.custom-switch-lg {
  @include switch('lg');
}

.custom-switch.custom-switch-xl {
  @include switch('xl');
}