<table class="table" summary="Member form fields">
      <tr>
        <th>Name</th>
        <td><%= f.text_field(:name, id: 'name') %></td>
      </tr>
      <tr>
        <th>Email Address</th>
        <td><%= f.text_field(:email, id: 'email') %></td>
      </tr>
  </table>
