<% flash.each do |type, msg| %>
<div class="text-center full-bg bg-danger m-0">
    <p class="text-white m-0"><%=msg%></p>
</div>
<% end %>

<div class="jumbotron text-center">
    <h1 class="display-3">New Member</h1>
</div>

<div class="container text-center">

    <%= form_for(@member, :url => members_path, :method => 'post') do |f| %>

    <%= render(:partial => 'form', :locals => {:f => f}) %>

    <div class="form-buttons">
        <%= f.submit("Add Member") %>
    </div>

    <% end %>
</div>